@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-300 {
  margin-top: 300px;
}

.container {
  max-width: 375px;
  padding-left: 5px;
  padding-right: 5px;
}

.js-btn-hidden {
  display: none;
}

.text-lg {
  font-size: 30px;
}

.text-md {
  font-size: 21px;
  line-height: 1.5em;
}

.text-bolder {
  font-weight: 600;
}

.text-grey {
  color: #999;
}

.text-danger {
  color: #ff0000;
}

.text-success {
  color: #17a2b8;
}

.btn {
  border-width: 0;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
}

.btn-lg {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 22px;
}

.header {
  background-color: rgba(23, 162, 184, 0.9);
}

.header__title {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.information {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 0.95rem;
}

.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.53rem;
  padding-bottom: 0.53rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}

.order__name {
  display: inline;
}

.order__amount {
  width: 70px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0rem 0rem  4px #cccccc inset;
          box-shadow: 0rem 0rem  4px #cccccc inset;
  padding: 5px;
  text-align: right;
  font-size: 16px;
  border-radius: 3px;
  border-width: 0;
  color: #000;
}

.finish {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 33px;
  margin-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.25em;
}
